<h1>View Post</h1>

<a href="<%= sub_url(@post.sub_id) %>">Back to subforum</a>

<h4>Post details</h4>

<ul>
  <li>Title: <%= @post.title %></li>
  <li>Url: <%= @post.url %></li>
  <li>Content: <%= @post.content %></li>
  <% if is_author? %>
    <li><a href="<%= edit_post_url(@post) %>">Edit Post</a></li>
    <form action="<%= post_url(@post) %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Post">
    </form>
  <% end %>
</ul>

